.c1{
    margin-left: 300px;
}

.c2{
    margin-left:500px ;
}
.c3{
    margin-left: 700px;
}
.c4{
    margin-left: 900px;
}
.c5{
    margin-left: 1100px;
}
.c6{
    margin-left: 100px;
    margin-top: 300px;
    
}
.c7{
    margin-left: 300px;
    margin-bottom: -700px;
}
.c8 {
    margin-left: -250px;
    bottom: -200px;
}
.c9 {
    margin-left: 710px;
    margin-top: -86px;
}
.c10 {
    margin-left: 900px;
    margin-top: -86px;
}
.c11 {
    margin-left: 1086;
    margin-top: -85px;
}

.s1{
    margin-left: 500px;
    margin-top: 50px;
    
}