
    <style>
         body{
                background-image:url("static/images/2.png");
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
                
                
                
                
            }
        </style>>
        <style>
            h1 {text-align: center;}
            
            

            
            
            </style>
        
        

            <h1 style="font-family:times">PREDICTING AIR POLLUTION</h1>
            
            </body>
        <style>
            form{
                margin-left: 200px;
                margin-bottom:500px;
            }
            
        </style>

<form action="/" method="POST">
    
            <div>
                <style>
                    .ab{
                        margin-left: -90px;
                        margin-top: 80px;
                        font-family:"times";
                        color: rgb(0, 0, 0);
                    }
                </style>
                <h2 class="ab">TIME </h2>
            </div>
            
            <input type="text" style="margin-left: -120px; size: 10;" name="c1" id="c1">
            <div>
                <style>
                    .a2{
                        margin-left: 150px;
                        margin-top:-70px;
                        font-family:"times";
                    }

                </style>
                <h2 class="a2">CO content</h2>
            </div>
            
            <input type="text" style="margin-left: 120px; " name="c2" id="c2">
            <div>
                <style>
                    .a3{
                        margin-left: 350px;
                        margin-top:-70px;
                        font-family:"times";
                    }

                </style>
                <h2 class="a3">Benzene content</h2>
            </div>
            
            <input type="text" style="margin-left: 350px;" name="c3" id="c3">
            <div>
                <style>
                    .a4{
                        margin-left: 550px;
                        margin-top:-70px;
                        font-family:"times";
                    }

                </style>
                <h2 class="a4">NMHC content</h2>
            </div>
            
            <input type="text" style="margin-left: 550px;" name="c4" id="c4">
            <div>
                <style>
                    .a5{
                        margin-left: 750px;
                        margin-top:-70px;
                        font-family:"times";
                    }

                </style>
                <h2 class="a5">Nitrogen oxide content</h2>
            </div>
            
            <input type="text" style="margin-left: 750px;" name="c5" id="c5">
            <div>
                <style>
                    .a6{
                        margin-left: -110px;
                        margin-top:70px;
                        font-family:"times";
                    }

                </style>
                <h2 class="a6">NOx content</h2>
            </div>
            
            
            <input type="text" style="margin-left: -100px;" name="c6" id="c6">
            <div>
                <style>
                    .a7{
                        margin-left: 150px;
                        margin-top:-70px;
                        font-family:"times";
                    }

                </style>
                <h2 class="a7">NO2 content</h2>
            </div>
            
            
            <input type="text"  style="margin-left: 150px;" name="c7" id="c7">
            <div>
                <style>
                    .a8{
                        margin-left: 400px;
                        margin-top:-70px;
                        font-family:"times";
                    }

                </style>
                <h2 class="a8">NO2 particulate</h2>
            </div>
            
            
            <input type="text" style="margin-left: 400px;" name="c8" id="c8">
            <div>
                <style>
                    .a9{
                        margin-left: 600px;
                        margin-top:-70px;
                        font-family:"times";
                    }

                </style>
                <h2 class="a9">Ozone content</h2>
            </div>
            
            <input type="text" style="margin-left: 600px;" name="c9" id="c9">
            <div>
                <style>
                    .a10{
                        margin-left: 800px;
                        margin-top:-70px;
                        font-family:"times";
                    }

                </style>
                <h2 class="a10">Temprature(C)</h2>
            </div>
           
            <input type="text" style="margin-left: 800px;" name="c10" id="c10">
            <div>
                <style>
                    .a11{
                        margin-left: -90px;
                        margin-top:60px;
                        font-family:"times";
                    }

                </style>
               <h2 class="a11">AH content</h2>
            </div>
           
                <input type="text" style="margin-left: -90px;" name="c11" id="c11">
            
            
            <br>
            <style>
                .s1 {
                  display: inline-block;
                  padding: 15px 25px;
                  font-size: 10;
                  cursor: pointer;
                  text-align: 50px;
                  margin-left: 400px;
                  margin-top: -20px;
                  text-decoration: none;
                  outline: none;
                  color: #fff;
                  background-color: #db1313;
                  border: none;
                  border-radius: 15px;
                  box-shadow: 0 9px #999;
                }
                
                .s1:hover {background-color: #7c4b4b}
                
                .s1:active {
                  background-color: #4e4948;
                  box-shadow: 0 5px #666;
                  transform: translateY(4px);
                }
                </style>
                
            <input class="s1" type="submit" value="SUBMIT">
            
            
        </form>
        
